
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

nav.navbar(ng-if="vm.isEnabledHeader")
    .nav-left
        a.logo(
            ng-if="!vm.isAuthenticated"
            href="https://taiga.io/",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        a.logo(
            ng-if="vm.isAuthenticated"
            href="#",
            tg-nav="home",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        .topnav-dropdown-wrapper(
            ng-if="vm.isAuthenticated"
            tg-dropdown-project-list
            active="vm.active == 'projects' || vm.active == 'project'"
        )

    .nav-right.center(ng-if="!vm.isAuthenticated")
        a.login(
            ng-click="vm.login()"
            href="#",
            title="{{ 'LOGIN_COMMON.ACTION_SIGN_IN' | translate }}"
            translate="LOGIN_COMMON.ACTION_SIGN_IN"
        )
        a.register(
            href="#"
            ng-if="vm.publicRegisterEnabled"
            tg-nav="register"
            title="{{ 'REGISTER_FORM.ACTION_SIGN_UP' | translate }}"
            translate="REGISTER_FORM.ACTION_SIGN_UP"
        )

    .nav-right(ng-if="vm.isAuthenticated")
        a(
            tg-nav="discover",
            ng-class="{'active': vm.active == 'discover' }"
            title="{{'PROJECT.NAVIGATION.DISCOVER_TITLE' | translate}}"
        )
            tg-svg(svg-icon="icon-compass")

        .topnav-dropdown-wrapper(
            tg-dropdown-notifications
            active="vm.active == 'notifications'"
        )

        div(tg-dropdown-user)
